{% extends "Registro_lol/base.html" %}

{% block main %}

<br>
<br>
<br>

<div style="width:800px; margin:0 auto;">
    
    <h1>Información campeones</h1>
    <ul>
        {% for campeon in campeones %} 
        <li>{{campeon}}</li>

        {% endfor %}
    </ul>

    <h1>Información wards</h1>
    <ul>
        {% for ward in wards %} 
        <li>{{ward}}</li>

        {% endfor %}
    </ul>

    <h1>Información mapas</h1>
    <ul>
        {% for mapa in mapas %} 
        <li>{{mapa}}</li>

        {% endfor %}
    </ul>
    
</div>

{% endblock %}