<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
</head>
<body>
    
    <h1>Información campeones</h1>
    <ul>
        {% for campeon in campeones %} 
        <li>{{campeon}}</li>

        {% endfor %}
    </ul>

    <h1>Información wards</h1>
    <ul>
        {% for ward in wards %} 
        <li>{{ward}}</li>

        {% endfor %}
    </ul>

    <h1>Información mapas</h1>
    <ul>
        {% for mapa in mapas %} 
        <li>{{mapa}}</li>

        {% endfor %}
    </ul>
</body>
</html>